*.gem
*.rbc
*.swp
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.jbundler

.DS_Store

# Build directory
killbill-stripe/

# Testing database
test.db

stripe.log

target
pom.xml.asc

.idea/

Gemfile.head.lock
